<div class="container">
    <div class="post">
      <nav></nav>
      <div class="post-content">
        <div class="post-title">
          <div class="post-title-h1">Iphone 14 Promax</div>
          <div class="post-title-location">Available</div>
        </div>
        <div class="post-action">
          <button class="post-button-action button" id="call-detail" type="button">Contact</button>
          <button class="post-button-chat button">Chat</button>

          <img class="post-bookmark" src="./img/bookmark.svg" alt="" />
          <img src="./img/share.svg" class="post-share" alt="" />
        </div>
        <div class="post-list">
          <a href="" class="post-landing">
            <div class="post-row">
              <div class="post-landing-mobile">
                <img src="./img/mobile.svg" alt="" />
                <p>Full Details</p>
              </div>
              <div class="post-landing-arrow">
                <img src="./img/arrow-down.svg" alt="" />
              </div>
            </div>
          </a>
          <hr />
          <div class="post-list-item post-row">
            <div class="post-list-title">Status</div>
            <div class="post-list-detail">New</div>
          </div>
          <div class="post-list-item post-row">
            <div class="post-list-title">Number of sims</div>
            <div class="post-list-detail">2</div>
          </div>
          <hr />
          <div class="post-list-item post-row">
            <div class="post-list-title">Memory</div>
            <div class="post-list-detail">256 GB</div>
          </div>
          <hr />
          <div class="post-list-item post-row">
            <div class="post-list-title">RAM</div>
            <div class="post-list-detail">6 GB</div>
          </div>
          <hr />
          <div class="post-list-item post-row">
            <div class="post-list-title">Color</div>
            <div class="post-list-detail">Black</div>
          </div>
          <hr />
          <div class="post-list-item post-row">
            <div class="post-list-title">Status</div>
            <div class="post-list-detail">New</div>
          </div>
          <hr />
          <div class="post-list-item post-row">
            <div class="post-list-title">Price</div>
            <div class="post-list-detail">$1000</div>
          </div>
        </div>
        <div class="post-description">
          <h2 class="post-description-title">Description</h2>
          <div class="post-description-detail">
            <p></p>Activated - Black - Not-ZAA</p>
          </div>
        </div>
      </div>
      <div class="post-image">
        <!-- Slider main container -->
        <div class="swiper">
            <div class="swiper-wrapper">
                <% if (post.images && post.images.length > 0) { %>
                  <% for (let image of post.images) { %>
                    <div class="swiper-slide post-thumbnail">
                      <img src="/<%= image %>" alt="Post Image" style="width: 100%; height: auto;" />
                    </div>
                  <% } %>
                <% } else { %>
                  <div class="swiper-slide">
                    <p>No images available</p>
                  </div>
                <% } %>
              </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
            
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
          </div>
        <div class="post-note">
          <div class="post-note-input">
            <textarea
              name="note"
              id="note"
              placeholder="Your Notes"
            ></textarea>
          </div>
          <p>
             Note is visible to you only.
          </p>
        </div>
        <div >
          <a href="#" class="post-privacy-link">
            <div class="post-privacy post-row">
              <img src="./img/message.svg" alt="" />
              <p>Safe Purchase Guide</p>
            </div>
          </a>
        </div>
        <div>
          <a href="#" class="post-privacy-link">
            <div class="post-privacy post-row" >
              <img src="./img/message.svg" alt="">
              <p>Report Issues</p>
            </div>
           </a>
        </div>
      </div>
    </div>
    <footer></footer>
  </div>
  <style>
    .swiper {
  width: 600px;
  height: 300px;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    const callDetailBtn = document.getElementById("call-detail")
    callDetailBtn.addEventListener("click", (e) => {
        Swal.fire({
            title: "<%=post.userMobile%>",
            confirmButtonText: "Call",
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = 'tel://<%=post.userMobile%>';
            }
        });
    })
    const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});
  </script>