<aside>
    <div class="container sidebar-padding">
      <h2 class="sidebar-title">Categories</h2>
      <ul class="sidebar-ul">
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="./img/home.svg" class="sidebar-img" alt="" />
            RealEstate
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="./img/car.svg" class="sidebar-img" alt="" />
             Auto
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="./img/mobile.svg" class="sidebar-img" alt="" />
            Digitals 
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="./img/home.svg" class="sidebar-img" alt="" />
            Kitchen 
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="./img/paint.svg" class="sidebar-img" alt="" />
            Services
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="./img/mobile.svg" class="sidebar-img" alt="" />
            Personal
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="./img/dice.svg" class="sidebar-img" alt="" />
            Entertainment
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="./img/chair.svg" class="sidebar-img" alt="" />
            Industrial
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="./img/suitcase.svg" class="sidebar-img" alt="" />
            Reqruitment
          </a>
        </li>
      </ul>
      
      </div>
    </div>
  </aside>